.welcome-wrapper {
	margin-top: 200px;
}

html, body {
	height: 100%;
}

body {
	background-color: rgb(24,188,156);
	border-color: rgb(24,188,156);
}

.welcome-wrapper {
	padding: 20px;
	border-radius: 5px;
}

.welcome-wrapper > div {
	margin-top: 13px;
}

.input-group {
	margin-bottom: 17px;

}

.signin-wrapper {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background: white;
    top: 50%;
    left: 50%;
    position: absolute;
    margin:-200px 0 0 -200px;
}

.minimal-input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.minimal-input:focus,
.minimal-input.focus {
  border-bottom: solid 2px #969696;
}

input:focus{
outline:none;
}

.dashboard-wrapper {
	width: 600px;
	margin: 0 auto;
	margin-top: 100px;
	background: white;
	border-radius: 5px;
	border: 1px solid gray;
}

.dashboard-wrapper h4 {
	margin: 10px;
	margin-top: 15px;
}

.blue-navbar {
	height: 125px;
	background-color: rgb(44,62,80);
	border: 0px;
}

.home {
	color: white;
	margin-left: 75px;
	top: 38px;
	font-size: 35px;
	position: relative;
}

.home:hover {
	color: rgb(24,188,156);
	text-decoration: none;
}

.navbar-links {
	position: relative;
	top: 47px;
	font-size: 25px;
	margin-right: 50px;
}

.navbar-links a {
	color: white;
	margin-right: 10px;
}


.navbar-links a:hover {
	text-decoration: none;
	color: rgb(24,188,156);
}

.left-block, .right-block {
	color: white;
}

.left-block > h2 {
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
}

.left-block > h3 {
	font-family: 'Josefin Slab', serif;
}

.left-block > h4 {
	font-family: 'Open Sans', sans-serif;
}