.welcome-wrapper {
	margin-top: 200px;
}

html, body {
	height: 100%;
}

body {
	background-color: rgb(24,188,156);
	border-color: rgb(24,188,156);
}

.welcome-wrapper {
	padding: 20px;
	border-radius: 5px;
}

.welcome-wrapper > div {
	margin-top: 13px;
}

.input-group {
	margin-bottom: 17px;

}

.signin-wrapper {
	font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin:-200px 0 0 -200px;
    color: white;
}

.signin-wrapper > form > .btn {
	width: 50%;
	background-color: rgb(44,62,80);
	margin-top: 20px;
}

.signin-wrapper > form > .btn:hover {
	background-color: rgb(76,105,135);
	border: 1px solid rgb(44,62,80);
}

.minimal-input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px rgb(44,62,80);
  transition: border 0.3s;
  background-color: rgb(24,188,156);
}
.minimal-input:focus,
.minimal-input.focus {
  border-bottom: solid 2px rgb(76,105,135);;
}

input:focus{
outline:none;
}

.dashboard-wrapper {
	width: 600px;
	margin: 0 auto;
	margin-top: 100px;
	background: white;
	border-radius: 5px;
	border: 1px solid rgb(76,105,135);
	background-color: rgb(44,62,80);
	color: white;
	font-family: 'Open Sans', serif;
}

.dashboard-wrapper > hr {
	margin-bottom: 0px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    white;
}

.dashboard-wrapper h4 {
	margin: 10px;
	margin-top: 15px;
}

.blue-navbar {
	height: 125px;
	background-color: rgb(44,62,80);
	border: 0px;
}

.home {
	color: white;
	margin-left: 25px;
	top: 38px;
	font-size: 35px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

.home:hover {
	color: rgb(24,188,156);
	text-decoration: none;
}

.task {
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-color: rgb(44,62,80);
}

.task-list {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.navbar-links {
	position: relative;
	top: 47px;
	font-size: 25px;
	margin-right: 50px;
}

.navbar-links a {
	color: white;
	margin-right: 10px;
	font-family: 'Open Sans', sans-serif;
}


.navbar-links a:hover {
	text-decoration: none;
	color: rgb(24,188,156);
}

.left-block, .right-block {
	color: white;
}

.left-block {
	border-right: 1px solid white;
}

.left-block > h2 {
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
}

.left-block > h3 {
	font-family: 'Josefin Slab', serif;
}

.left-block > h4 {
	font-family: 'Open Sans', sans-serif;
}

.left-block > .btn {
	background-color: rgb(44,62,80);
	color: white;
	margin-top: 50px;
}

.left-block > .btn:hover {
	background-color: rgb(76,105,135);
	border: 1px solid rgb(44,62,80);
}

.input-area {
	margin: 10px;
}

.input-area button {
	background-color: rgb(76,105,135);
	border: 1px solid rgb(76,105,135);
}